{minimum_otp_vsn, "25"}.

{erl_opts, [debug_info, warnings_as_errors]}.

{deps, []}.

{project_plugins, [rebar3_proper]}.

{dialyzer, [
    {warnings, [unknown, unmatched_returns, error_handling]},
    {plt_apps, top_level_deps}
]}.

{profiles, [
    {test, [
        {deps, [{proper, "1.4.0"}]}
    ]}
]}.
